{% extends "client/base.html" %}
{% block content %}
    <h1> Participant Table </h1>
      <table id = "participants">
        <tr>
          <td>Name</td>
          <td>Age</td>
          <td>Have Siblings?</td>
          <td>Any Known Genetic Exposures</td>
          <td>Any Known Genetic Mutations</td>
        </tr>
        {%for participant in context%}
          <tr>
            <td>{{participant.name}}</td>
            <td>{{participant.age}}</td>
            <td>{{participant.have_siblings}}</td>
            <td>{{participant.known_env_exposures}}</td>
            <td>{{participant.known_genetic_mutations}}</td>

          </tr>


        {%endfor%}
      </table>
{% endblock content %}
